/*Root Styling*/
a {
	color: #14A4FA;
	text-decoration: none;
}

a:hover {
	color: #65C7F6;
	transition: 0.25s color;
}

html {
	font-size: 62.5%;
	height: 100%;
}

p {
	margin: 0;
}

/*Base Layout*/
body {
	display: flex;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 1.4rem;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

main {
	flex: 1;
}

/*****USER CONTROL*****/
aside {
	background-color: #354052;
	float: left;
	width: 17.5rem;
}

/*Base Styling*/
.aside-button {
	color: #B2BDCF;
	text-transform: uppercase;
}

.aside-button:hover {
	background-color: #30394A;
	transition: 0.25s background-color;
}

.aside-button:active {
	color: #FFF;
	background-color: #30394A;
	border-left: 0.5rem solid #14A4FA;
}

.aside-icon {
	padding-right: 1rem;
}

dd,
dt {
	box-sizing: border-box;
	color: #616E81;
	font-size: 1.2rem;
	height: 3.5rem;
	margin: 0;
	padding: 1rem 1.5rem;
}

dl {
	border-bottom: 0.3rem inset #2C3749;
	cursor: default;
	padding: 1rem 0;
}

dt {
	font-weight: 700;
}

/*User Image Section*/
.user-drop-down {
	font-size: 1rem;
	margin-left: 0.5rem;
}

.user-id {
	align-items: center;
	border-bottom: 0.3rem inset #2C3749;
	display: flex;
	flex-direction: column;
	height: 17.5rem;
	justify-content: center;
	padding: 0.15rem;
}

.user-image {
	background-image: url('images/torin.jpg');
	background-size: cover;
	border-radius: 10rem;
	height: 10rem;
	width: 10rem;
}

.user-name {
	color: #B2BDCF;
	cursor: default;
	margin-top: 1rem;
}

.user-name:hover {
	color: #FFF;
	transition: 0.25s color;
}

.user-name:hover .user-drop-down {
	color: #14A4FA;
	transition: 0.25s color;
}

/*Checkboxes*/
.blue {
	color: #29AFFF;
}

.checkbox {
	margin-right: 1rem;
}

.checkbox-lable {
	color: #B2BDCF;
}

.green {
	color: #03AB8A;
}

.red {
	color: #ED135D;
}

.user-categories {
	border: none;
}

.yellow {
	color: #FFE500;
}

/*****LISTING SEARCH*****/
#border-fix {
	border-right: 0;
}

input::placeholder {
	color: #CED2D5;
}

.listing-search {
	display: flex;
	height: 7.5rem;
	justify-content: space-between;
}

.listing-search-btn {
	align-items: center;
	border: 0.2rem solid #F7F7F7;
	color: #6F7E95;
	cursor: pointer;
	display: flex;
	justify-content: center;
	width: 7.5rem;
}

.listing-search-btn:hover,
.listing-search-btn:hover .user-console-arrow {
	background-color: #14A4FA;
	border-color: #14A4F4;
	color: #FFF;
	transition: 0.25s background-color, 0.25s border-color, 0.25s color;
}

.listing-search-field {
	border: none;
	border-bottom: 0.2rem solid #F7F7F7;
	color: #6F7E95;
	flex: 1;
	font-size: 1.6rem;
	padding: 0.5rem;
}

.listing-search-field:focus {
	outline: none;
}

.search-icon {
	color: #9CA0A3;
}

.search-icon-container {
	border-bottom: 0.2rem solid #F7F7F7;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 0.5rem;
	width: 5rem;
}

.user-console-arrow {
	color: #14A4FA;
	margin: 0 0.25rem 0 -1rem;
}

/*****LISTING INFO*****/
.listing-button {
	align-items: center;
	border: 0.2rem solid #DEDFE1;
	border-radius: 3rem;
	display: flex;
	height: 3rem;
	justify-content: center;
	margin-left: 1.5rem;
	padding: 0.3rem;
	width: 3rem;
}

.listing-button:hover,
.listing-status:hover {
	background-color: #14A4FA;
	border-color: #14A4F4;
	color: #FFF;
	transition: 0.25s background-color, 0.25s border-color, 0.25s color;
}

.listing-indicator {
	color: #8AC642;
	margin-right: 0.5rem;
}

.listing-info {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	padding: 3rem;
}

.listing-info-buttons {
	display: flex;
	justify-content: space-between;
}

.listing-info-text {
	padding: 1rem;
}

.listing-location {
	color: #828594;
	padding-left: 1rem;
}

.listing-status {
	align-items: center;
	border: 0.2rem solid #DEDFE1;
	border-radius: 3rem;
	display: flex;
	height: 3rem;
	justify-content: center;
	padding: 0.3rem 1.5rem;
}

.listing-title {
	color: #56555B;
	margin-bottom: 1rem;
}

/*****LISTING CONSOLE*****/
.listing-console {
	align-items: flex-end;
	cursor: default;
	display: flex;
	height: 5rem;
	margin: 0 3rem;
}

.listing-console-button {
	color: #828594;
	font-size: 1.4rem;
	margin: 0 2rem;
	padding: 2rem 0;
	text-transform: uppercase;
}

.listing-console-button:hover {
	border-bottom: 0.5rem solid #14A4FA;
	color: #000;
	transition: 0.25s border-bottom, 0.25s color;
}

/*****PAGE INFO*****/
.page-info {
	background-color: #EDF2F6;
	display: flex;
	flex: 1;
	flex-direction: column;
}

/*Page Data*/
.graph-bar {
	background-color: green;
	flex: 1;
	height: 20rem;
}

.graph-circle {
	background-color: red;
	flex: 1;
	height: 20rem;
}

.page-data {
	align-items: stretch;
	background-color: blue;
	display: flex;
	height: 20rem;
	padding: 3rem;
	justify-content: center
}

/*Listing Spec*/
.listing-specs {
	background: teal;
	display: flex;
	flex: 1;
	padding: 3rem;
}

.listing-description {
	background-color: purple;
	flex: 2;
}

.listing-share {
	background-color: orange;
	flex: 1;
}









