/*Root Styling*/
html {
	font-size: 62.5%;
	height: 100%;
}

p {
	margin: 0;
}

/*Base Layout*/
aside {
	background-color: #354052;
	float: left;
	width: 17.5rem;
}

body {
	display: flex;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 1.4rem;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.listing-console {
	background-color: green;
	height: 5rem;
}

.listing-info {
	background-color: red;
	height: 20rem;
}

.listing-search {
	background-color: blue;
	border: 0.2rem solid #F7F7F7;
	height: 5rem;
}

main {
	flex: 1;
}

.page-info {
	background-color: #EDF2F6;
	flex: 1;
}

/*****USER CONTROL*****/
.aside-button {
	color: #B2BDCF;
	text-transform: uppercase;
}

.aside-button:hover {
	background-color: #30394A;
}

.aside-button:active {
	color: #FFF;
	background-color: #30394A;
	border-left: 0.5rem solid #14A4FA;
}

.aside-icon {
	padding-right: 1rem;
}

.checkbox {
	margin-right: 1rem;
}

.checkbox-lable {
	color: #B2BDCF;
}

dd,
dt {
	box-sizing: border-box;
	color: #616E81;
	font-size: 1.2rem;
	height: 3.5rem;
	margin: 0;
	padding: 1rem 1.5rem;
}

dl {
	border-bottom: 0.3rem inset #2C3749;
	cursor: default;
	padding: 1rem 0;
}

dt {
	font-weight: 700;
}

.user-admin {
	
}

.user-categories {
	border: none;
}

.user-drop-down {
	font-size: 1rem;
	margin-left: 0.5rem;
}

.user-id {
	align-items: center;
	border-bottom: 0.3rem inset #2C3749;
	display: flex;
	flex-direction: column;
	height: 17.5rem;
	justify-content: center;
	padding: 0.15rem;
}

.user-image {
	background-image: url('images/torin.jpg');
	background-size: cover;
	border-radius: 10rem;
	height: 10rem;
	width: 10rem;
}

.user-main {

}

.user-name {
	color: #B2BDCF;
	cursor: default;
	margin-top: 1rem;
}

.user-name:hover {
	color: #FFF;
}

.user-name:hover .user-drop-down {
	color: #14A4FA;
}

.blue {
	color: #29AFFF;
}

.green {
	color: #03AB8A;
}

.red {
	color: #ED135D;
}

.yellow {
	color: #FFE500;
}
