/*****BASE STYLINGS*****/

/*Color*/
.blue {
	color: #29AFFF;
}

.dark-gray {
	color: #56555B;
}

.green {
	color: #03AB8A;
}

.red {
	color: #ED135D;
}

.yellow {
	color: #FFE500;
}

/*Layout*/
body {
	display: flex;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 1.4rem;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

html {
	font-size: 62.5%;
	height: 100%;
}

main {
	flex: 1;
}

p {
	margin: 0;
}

/*Links*/
a {
	color: #14A4FA;
	text-decoration: none;
}

a:hover {
	color: #65C7F6;
	transition: 0.25s color;
}

/*****ASIDE USER CONTROL*****/
aside {
	background-color: #354052;
	float: left;
	width: 17.5rem;
}

/*Base Styling*/
.aside-button {
	color: #B2BDCF;
	text-transform: uppercase;
}

.aside-button:hover {
	background-color: #30394A;
	transition: 0.25s background-color;
}

.aside-button:active {
	color: #FFF;
	background-color: #30394A;
	border-left: 0.5rem solid #14A4FA;
}

.aside-icon {
	padding-right: 1rem;
}

dd,
dt {
	box-sizing: border-box;
	color: #616E81;
	font-size: 1.2rem;
	height: 3.5rem;
	margin: 0;
	padding: 1rem 1.5rem;
}

dl {
	border-bottom: 0.3rem inset #2C3749;
	cursor: default;
	padding: 1rem 0;
}

dt {
	font-weight: 700;
}

.user-main-mobile,
.user-admin-mobile,
.user-categories-mobile {
	display: none;
}

/*User Image Section*/
.user-drop-down {
	font-size: 1rem;
	margin-left: 0.5rem;
}

.user-id {
	align-items: center;
	border-bottom: 0.3rem inset #2C3749;
	display: flex;
	flex-direction: column;
	height: 17.5rem;
	justify-content: center;
	padding: 0.15rem;
}

.user-image {
	background-image: url('images/torin.jpg');
	background-size: cover;
	border-radius: 10rem;
	height: 10rem;
	width: 10rem;
}

.user-name {
	color: #B2BDCF;
	cursor: default;
	margin-top: 1rem;
}

.user-name:hover {
	color: #FFF;
	transition: 0.25s color;
}

.user-name:hover .user-drop-down {
	color: #14A4FA;
	transition: 0.25s color;
}

/*Checkboxes*/
.checkbox {
	margin-right: 1rem;
}

.checkbox-lable {
	color: #B2BDCF;
}

.user-categories {
	border: none;
}

/*****LISTING SEARCH*****/
#border-fix {
	border-right: 0;
}

input::placeholder {
	color: #CED2D5;
}

.listing-search {
	display: flex;
	height: 7.5rem;
	justify-content: space-between;
}

.listing-search-btn {
	align-items: center;
	border: 0.2rem solid #F7F7F7;
	color: #6F7E95;
	cursor: pointer;
	display: flex;
	justify-content: center;
	width: 7.5rem;
}

.listing-search-btn:hover,
.listing-search-btn:hover .user-console-arrow {
	background-color: #14A4FA;
	border-color: #14A4F4;
	color: #FFF;
	transition: 0.25s background-color, 0.25s border-color, 0.25s color;
}

.listing-search-field {
	border: none;
	border-bottom: 0.2rem solid #F7F7F7;
	color: #6F7E95;
	flex: 1;
	font-size: 1.6rem;
	padding: 0.5rem;
}

.listing-search-field:focus {
	outline: none;
}

.search-icon {
	color: #9CA0A3;
}

.search-icon-container {
	border-bottom: 0.2rem solid #F7F7F7;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 0.5rem;
	width: 5rem;
}

.user-console-arrow {
	color: #14A4FA;
	margin: 0 0.25rem 0 -1rem;
}

/*****LISTING INFO*****/
.listing-button {
	align-items: center;
	border: 0.2rem solid #DEDFE1;
	border-radius: 3rem;
	display: flex;
	height: 3rem;
	justify-content: center;
	margin-left: 1.5rem;
	padding: 0.3rem;
	width: 3rem;
}

.listing-button:hover,
.listing-status:hover {
	background-color: #14A4FA;
	border-color: #14A4F4;
	color: #FFF;
	transition: 0.25s background-color, 0.25s border-color, 0.25s color;
}

.listing-indicator {
	color: #8AC642;
	margin-right: 0.5rem;
}

.listing-info {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	padding: 3rem;
}

.listing-info-buttons {
	display: flex;
	justify-content: space-between;
}

.listing-info-text {
	padding: 1rem;
}

.listing-location {
	color: #828594;
	padding-left: 1rem;
}

.listing-status {
	align-items: center;
	border: 0.2rem solid #DEDFE1;
	border-radius: 3rem;
	display: flex;
	height: 3rem;
	justify-content: center;
	padding: 0.3rem 1.5rem;
}

.listing-title {
	margin-bottom: 1rem;
}

/*****LISTING CONSOLE*****/
.listing-console {
	align-items: flex-end;
	border-bottom: 0.2rem solid #F7F7F7;
	cursor: default;
	display: flex;
	height: 5rem;
	padding: 0 3rem;
}

.listing-console-button {
	color: #828594;
	font-size: 1.4rem;
	margin: 0 2rem;
	padding: 2rem 0;
	text-transform: uppercase;
}

.listing-console-button:hover {
	border-bottom: 0.5rem solid #14A4FA;
	color: #000;
	transition: 0.25s border-bottom, 0.25s color;
}

/*****PAGE INFO*****/
.page-info {
	background-color: #EDF2F6;
	display: flex;
	flex: 1;
	flex-direction: column;
}

/*Page Data*/
.graph-bar {
	background-color: green;
	flex: 1;
	height: 25rem;
}

.graph-circle {
	align-items: center;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-around;
}

.page-data {
	align-items: stretch;
	display: flex;
	padding: 3rem;
	justify-content: center
}

/*Circle Graphs*/
.circle-container {
	align-items: center;
	display: flex;
	flex: 1;
	justify-content: space-around;
}

.circle-graph {
	align-items: center;
	background-color: #EDF2F6;
	border: 1rem solid #DCE6EF;
	border-radius: 12rem;
	display: flex;
	flex-direction: column;
	font-size: 1.4rem;
	height: 12rem;
	justify-content: center;
	margin: 0 0.5rem;
	text-transform: uppercase;
	width: 12rem;
}

.circle-graph-1 {
	border-color: #42BCBD #42BCBD #42BCBD #DCE6EF;
}

.circle-graph-2 {
	border-color: #DCE6EF #DCE6EF #14A8FF #14A8FF;
}

.circle-graph-3 {
	border-color: #B766B3 #DCE6EF #B766B3 #B766B3;
}

.circle-totals {
	align-items: center;
	background-color: #FFF;
	border: 0.2rem solid #DEDFE1;
	border-radius: 3rem;
	display: flex;
	height: 3rem;
	justify-content: center;
	padding: 0.3rem 1.5rem;
}

.circle-totals:hover {
	background-color: #14A4FA;
	border-color: #14A4F4;
	color: #FFF;
	transition: 0.25s background-color, 0.25s border-color, 0.25s color;
}

.total-figure {
	font-family: 'Titillium Web';
	font-size: 3.2rem;
}

/*Listing Spec*/
.listing-specs {
	background: teal;
	display: flex;
	flex: 1;
	padding: 3rem;
}

.listing-description {
	background-color: purple;
	flex: 2;
}

.listing-share {
	background-color: orange;
	flex: 1;
}

/*****MEDIA QUERIES*****/
@media screen and (max-width:1100px) {
	aside {
		align-items: center;
		display: flex;
		float: none;
		width: auto;
	}

	.aside-button:active {
		border-bottom: 0.5rem solid #14A4FA;
		border-left: none;
	}

	.aside-container {
		display: flex;
		flex: 1;
		flex-direction: column;
	}

	body {
		flex-direction: column;
	}

	.container {
		display: flex;
		flex-direction: column;
		height: auto;
	}

	dl {
		border-right: 0.3rem inset #5D6777;
		display: flex;
		margin-bottom: 0;
		padding: 0;
	}

	dt {
		width: 10rem;
	}

	.user-categories {
		border-bottom: 0.3rem inset #2C3749;
		border-right: 0.3rem inset #5D6777;
	}

	.user-id {
		border-bottom: none;
		order: 1;
		width: 17.5rem;
	}
}


@media screen and (max-width:850px) {
	aside {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		float: none;
		width: auto;
	}

	.aside-container {
		width: 100%;
	}

	dd {
		padding: 1rem;
	}

	dl,
	.user-categories {
		border-right: none;
	}

	dt {
		padding: 0.5rem 1rem;
	}

	.user-id {
		border-bottom: 0.3rem inset #2C3749;
		height: auto;
		flex-direction: row;
		justify-content: flex-start;
		padding: 1rem;
		order: 0;
		width: 100%;
	}

	.user-image {
		border-radius: 7.5rem;
		height: 7.5rem;
		margin-right: 1.5rem;
		width: 7.5rem;
	}
}

@media screen and (max-width:650px) {
	.user-main,
	.user-admin,
	.user-categories {
		display: none;
	}

	.user-main-mobile,
	.user-admin-mobile,
	.user-categories-mobile {
		display: block;
	}

	select {
		color: #B2BDCF;
		background-color: #354052;
		border: 2px solid #5D6777;
		font-family: 'Open Sans', Arial, sans-serif;
		height: 5rem;
		overflow: hidden;
		text-transform: uppercase;
	}

	select:focus {
		outline: none;
	}

	select:hover {
		background-color: #14A4FA;
		border-color: #14A4F4;
		color: #FFF;
		transition: 0.25s background-color, 0.25s border-color, 0.25s color;
	}

}









